@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Montserrat:ital@1&family=Roboto:ital,wght@1,700&display=swap');

.navbar {
   width: 100%;
   display: flex;
   justify-content:space-around;
   margin-top: 35px;
   position: relative;
}


.gradient, h1 {
    background-image: linear-gradient(to right, rgb(138, 43, 234), rgb(84, 154, 215), rgb(84, 215, 202));

    background-clip: text;
    -webkit-background-clip: text;  
    
    -webkit-text-fill-color: transparent;
    font-family: 'Black Ops One', cursive;
    font-size: 38px;
    margin-left: 80px;
    margin-right: 80px;

    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

@media (max-width:1024px) {
    .navbar{
        width: 95%;
    }

    .gradient, h1 {
        font-size: 26px;
        margin: 0;
    }
}

@media (max-width:768px) {
    .gradient, h1 {
        font-size: 22px;
    }
}

@media (max-width:480px) {

    .navbar {
        max-width: 414px;
        min-width: 360px;
        display: grid;
        justify-content: center;
        align-items: center;
        align-content: center;
        margin: 0 auto;
    
     }
     
    .gradient, h1 {
        width: 100%;
        font-size: 20px;
        display: grid;
        justify-content: center;
        align-items: center;
        margin: 15px 0 15px 0;
    }

    div .connect-btn {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}