.image {
    width: 80px;
    height: 80px;
    margin-right: 60px;
    cursor: pointer;

    animation: rotacao 25s linear infinite;
}

@keyframes rotacao {
       to {
        transform: rotate(360deg);
    }
}


@media (max-width:768px) {
    .image {
        width: 60px;
        height: 60px;
}
}
@media (max-width:480px) {
    .image {
        display: none;
    }
}