* {
    margin: 0px;
    padding: 0 px;
    box-sizing: border-box;
}

.media {
    display: flex;
    justify-content: flex-end;
}

.media .img {
    display: flex;
    
}

.img img {
    padding: 10px;
    margin-top: 80px;
    width: 45px;
    height:45px;
    cursor: pointer;

}

.img li {
    list-style: none;
}

.img a img:hover {    
    transition: all 1s;
    transform: translateY(-5px);   
} 

